/* navbar start */

.hello_world{
    background-color: rgb(253, 223, 223);
}


#sign{
    color: #fff;
    background-color: 	#d2691e;
    border-color:#d2691e;
 
}
#notification{
    color: #fff;
    background-color: 	#d2691e;
    border-color:#d2691e;
    padding:2px;
    font-size:.5rem;
     
}
/* navbar end */
/* Welcome hiya food start */

.welcomefood{
    background-color: #fae9dd;
    /* display: flex;
    flex-wrap: wrap;  */
}

/* .img {
    max-width: 100%;
    height: auto;
  } */

.hiyafood{
    color: #d2691e;
  
}
.orderfood{
    color: #fff;
    background-color: 	#d2691e;
    font-size: 25px;
    padding: 10px 20px;
}
/* Welcome hiya food end */
