/* navbar start */

.hello_world{
    background-color: rgb(253, 223, 223);
}

/* .nav.navbar-right li a {
    color: black;
}

.nav.nav-end li a{
    color: black;
} */
#sign{
    color: #fff;
    background-color: 	#d2691e;
    border-color:#d2691e;
 
}
#notification{
    color: #fff;
    background-color: 	#d2691e;
    border-color:#d2691e;
    padding:2px;
    font-size:.5rem;
     
}
/* navbar end */
